<div>

</div>


<div nz-row>
  <div nz-col
       [nzXs]="24"
       [nzSm]="16"
       [nzMd]="16"
       [nzLg]="16"
       [nzXl]="16"
       [nzXXl]="16">
    <div style="margin:10px;">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let index of [1,2,3,4]">
          <div style="border-radius: 50px; overflow: hidden;">
            <img data-src="{{'../../../assets/test'+index+'.jpg'}}" style="width:100%" />
          </div>
        </ng-template>
      </owl-carousel-o>

    </div>
  </div>
  <div nz-col
       class="slide"
       [nzXs]="24"
       [nzSm]="8"
       [nzMd]="8"
       [nzLg]="8"
       [nzXl]="8"
       [nzXXl]="8">
    <div style="margin:10px;">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let index of [1,2,3,4]">
          <div style="border-radius: 50px; overflow: hidden;">
            <img [src]="'../../../assets/test'+index+'.jpg'" style="width:100%" />
          </div>
        </ng-template>
      </owl-carousel-o>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let index of [1,2,3,4]">
          <div style="border-radius: 50px; overflow: hidden;">
            <img [src]="'../../../assets/test'+index+'.jpg'" style="width:100%" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

  </div>
</div>
<div *ngFor="let item of [1,2,3]">
  <br />
  <div style=" text-align: right;"> 
    <button nz-button nzType="primary" nzDanger style="border-bottom-right-radius: 20px; text-align: initial; border-top-left-radius: 20px; ">پرفروش ترین ها:</button>
  </div>
  <!--border-radius: 50px; border: red 1px dashed;-->
  <div style=" overflow: hidden;margin-top:10px ">

    <div>
      <owl-carousel-o [options]="customOptions3">
        <ng-template carouselSlide style="width:200px" *ngFor="let index of [1,2,3,4,5,6,7,8,9,10,11,12]">
          <!--<div style="">
          <img data-src="{{'../../../assets/test'+index+'.jpg'}}" style="width:100%" />
        </div>-->
          <ng-container *ngTemplateOutlet="hiii;context:{index:index}"></ng-container>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div style=" text-align: left;">
      <button nz-button nzType="primary" nzDanger style="border-bottom-right-radius: 20px; text-align: initial; border-top-left-radius: 20px; ">    مشاهده همه:</button>
    </div>
  </div>
</div>



<ng-template #hiii let-index="index">
  <div  style="padding: 5px; border-radius: 5px; border-top-right-radius: 25px; border-bottom-left-radius: 25px; overflow: hidden; border: gray 1px dashed; background-color: white ">

    <div class="flip-box">
      <div class="flip-box-inner">

        <div class="flip-box-front">
          <img class="imgfront" style="width:100%" src="{{'../../../assets/p'+(index%2+1)+'.jpg'}}" />
        </div>
        <div class="flip-box-back">
          <img class="imgback" src="{{'../../../assets/p'+((index+1)%2+1)+'.jpg'}}" />
        </div>
      </div>
      <nz-tag style="position:absolute;top:10px;left:-10px" nzColor="#f50">فروش ویژه</nz-tag>
      <nz-tag style="position:absolute;top:40px;left:-10px" nzColor="#87d068">جدید </nz-tag>
      <nz-tag style="position:absolute;top:70px;left:-10px" nzColor="#5963a1">نمیدونم </nz-tag>
      <span style="position: absolute; top: 10px; right: 10px;border-radius:50%; background-color: red; color: white; padding: 5px;"> 20%</span>
      <span style="position: absolute; bottom: 0px; right: 10px; ">
        <span class="dot" style="background-color: red;" nz-tooltip nzTooltipTitle=" سبز" nzTooltipPlacement="bottom"></span>
        <span class="dot" style="background-color: blue;" nz-tooltip nzTooltipTitle=" سبز" nzTooltipPlacement="bottom"></span>
        <span class="dot" style="background-color: white;" nz-tooltip nzTooltipTitle="سبز " nzTooltipPlacement="bottom"></span>
        <span class="dot" style="background-color: yellow;" nz-tooltip nzTooltipTitle="سبز " nzTooltipPlacement="bottom"></span>
      </span>
      <span style="position: absolute; bottom: 25px; right: 10px; ">
        <span  style="padding-right:5px;"  nz-tooltip nzTooltipTitle=" سبز" nzTooltipPlacement="bottom">s</span>
        <span  style="padding-right:5px;"  nz-tooltip nzTooltipTitle=" سبز" nzTooltipPlacement="bottom">m</span>
        <span  style="padding-right:5px;"  nz-tooltip nzTooltipTitle="سبز " nzTooltipPlacement="bottom">x</span>
        <span  style="padding-right:5px;"  nz-tooltip nzTooltipTitle="سبز " nzTooltipPlacement="bottom">xl</span>
      </span>
    </div>

    <div style="background-color:darkgray;padding:5px;color:white">محصول اول</div>
    <div>rmx مدل</div>
    <div>
      <del style="color:red">54455</del>
      <span>54455</span>
    </div>
  </div>

</ng-template>
