@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";




.owl-carousel {
  position: relative;
}

.owl-next, .owl-prev {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.owl-next {
  right: 0;
  display: flex;
}
.owl-nav {
  margin-top: 0px!important;
}
.owl-prev {
  left: 0;
  display: flex;
}


.owl-dots {
  position: absolute;
  bottom: 10px;
  left: 25%;
  right: 25%;
}
