@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";




.owl-carousel {
  position: relative;
}

.owl-next, .owl-prev {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.owl-next {
  right: 0;
  display: flex;
  background-color: transparent !important;
}

.owl-nav {
  margin-top: 0px !important;
}

.owl-prev {
  left: 0;
  display: flex;
  background-color: transparent !important;
}


.owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.flip-box {
  background-color: transparent;
  perspective: 1000px;
  height: 100%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  /*  position: absolute;*/
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  position: absolute;
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
$border-color: white;
.dot {
  height: 20px;
  width: 20px;
  margin: 3px;
  border: 1px $border-color solid;
  display: inline-block;
  border-radius: 50%;
}

.roundborder {
  padding: 5px;
  height: fit-content;
  border-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  border: $border-color 1px dashed;
  background-color: white
}
.roundborderr {
  padding: 5px;
  height: fit-content;
  border-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  border: $border-color 1px dashed;
  background-color: white
}
.customCard {
  .customerCardHeader {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: $border-color 1px dashed;
    text-align: initial;

    i {
      font-size: 24px;
    }
  }
}



.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.circleIcon {
  padding: 8px;
  margin: 2px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}

.card-button {
  display: none;
  position: absolute;
  margin-top: -50px;
}
.product-card:hover .card-button {
  display: block;
}
