<div class="main">
  <img src="../../../assets/1.jpg" />
  <div style=" display: flex; flex-direction: column; flex-basis: 100%; flex: 1;">
    <span style="font-size:small">
      محصول اول  مدل فلان
      محصول اول  مدل فلان
      نام دسته بندی

    </span>
    <span>
      <span style="color:darkred" *ngIf="hasPrice">
        456123789 ریال
      </span>
      <span *ngIf="hasCount" style="color:red">   x2</span>
    </span>
    <i class="close" nz-icon [innerHtml]="icons.close"></i>
  </div>
</div>

