<!--https://iconscout.com/icons/man
https://thenounproject.com/search/?q=style
https://www.iconpacks.net/search/?icon=man
-->


<ng-template #form let-item="item">
  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="محتوای اصلی">
      <ng-container *ngTemplateOutlet="mainTemplate?.defaultIDStatusForm;context:{  item:item}"></ng-container>
      <form nz-form [formGroup]="item">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">عنوان</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="عنوان را وارد کنید">
            <input nz-input formControlName="Title" />
          </nz-form-control>

          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="email"> دسته بندی والد</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-tree-select [nzNodes]="dataManager.ViewRecords"
                            nzShowSearch
                            nzPlaceHolder="لطفا دسته بندی والد را انتخاب نمایید"
                            formControlName="ParentCategoryId">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Priority">اولویت</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="اولویت را وارد کنید">
            <input nz-input formControlName="Priority" />
          </nz-form-control>
          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="Color">مقدار</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="مقدار را وارد کنید">
            <input type="color" nz-input formControlName="Color" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Summary">شرح خلاصه</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="شرح خلاصه را وارد کنید">
            <input nz-input formControlName="Summary" />
          </nz-form-control>


          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="email">
            آیکون
            <i [innerHtml]="item.controls.Icon.value | sanitizeHtml" style="font-size:24px" nz-icon></i>
          </nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <textarea nz-input formControlName="Icon"></textarea>
            <!--<nz-select formControlName="Icon" [nzCustomTemplate]="iconSelectedTemplate">
          <nz-option *ngFor="let icon of icons | keyvalue" nzCustomContent [nzValue]="icon.key">
              <i nz-icon [innerHtml]="icon.value"  ></i>
              {{icon.key}}
          </nz-option>
        </nz-select>
        <ng-template #iconSelectedTemplate let-selected>
          <i nz-icon [innerHtml]="icons[selected.nzValue]"></i>
          {{ selected.nzValue }}
        </ng-template>-->
          </nz-form-control>
          <button nz-button nzType="primary" (click)="fileselector.click()">
            <i nz-icon [innerHtml]="icons['plus-thick']"></i>
          </button>
          <input type="file" #fileselector style="display:none" (change)="loadFile($event, item)" />
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Description">شرح </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="شرح  را وارد کنید">
            <ckeditor [editor]="Editor" tagName="textarea" [config]="config" formControlName="Description"></ckeditor>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle=" جزییات محصولات در این دسته بندی">
      <button (click)="addFirst(item)" nz-button nzType="primary">
        <i nz-icon
           [innerHtml]="icons['plus-thick']"></i>
        ایجاد
      </button>
      <nz-tree *ngIf="item.controls.TreeNodes.value" [nzExpandAll]="true"	[nzData]="item.controls.TreeNodes.value" nzDraggable nzBlockNode [nzTreeTemplate]="nzTreeTemplate">
        <ng-template #nzTreeTemplate let-node let-origin="origin">
          <label nz-tooltip (change)="makeItDirty(item)" nzTooltipTitle=" قابلیت جستجو بر روی این گزینه؟" nz-checkbox [(ngModel)]="origin.Searchable"></label>
          <nz-select (ngModelChange)="makeItDirty(item);TypeChanged($event, origin)" [(ngModel)]="origin.Type" style="width:200px" nzPlaceHolder=" نوع گزینه را مشخص کنید">
            <nz-option nzLabel="دارد/ندارد" nzValue="SelectH"></nz-option>
            <nz-option nzLabel="بله/خیر" nzValue="SelectT"></nz-option>
            <nz-option nzLabel="قابلیت انتخاب" nzValue="Select"></nz-option>
            <nz-option nzLabel="عدد" nzValue="Number"></nz-option>
            <nz-option nzLabel="متن ساده" nzValue="String"></nz-option>
          </nz-select>

          <nz-tag [nzColor]="'magenta'" style="width:30px"> {{origin.key}}</nz-tag>
          <input (ngModelChange)="makeItDirty(item)" [(ngModel)]="origin.name" />

          <nz-select *ngIf="origin.Type == 'SelectH'||origin.Type == 'Select'||origin.Type == 'SelectT'"
                     style="width:300px" [(ngModel)]="origin.Items" (change)="makeItDirty(item)"
                     nzMode="tags" nzPlaceHolder="انواع را وراد کنید و اینتر بزنید">
          </nz-select>
          <input style="width:150px" placeholder="از" *ngIf="origin.Type == 'Number'" (ngModelChange)="makeItDirty(item)" [(ngModel)]="origin.Items[0]" />
          <input style="width:150px" placeholder="تا" *ngIf="origin.Type == 'Number'" (ngModelChange)="makeItDirty(item)" [(ngModel)]="origin.Items[1]" />

          <button (click)="removeNode(item, node)" nz-button nzDanger nzType="primary">
            <i nz-icon
               [innerHtml]="icons['delete']"></i>
          </button>
          <button (click)="addNode(item, node)" nz-button nzType="primary">
            <i nz-icon
               [innerHtml]="icons['plus-thick']"></i>
          </button>
        </ng-template>

      </nz-tree>
    </nz-tab>
    <nz-tab nzTitle=" تصاویر  ({{item.controls.Images.value?.length}})">
      <div nz-row>
        <div nz-col [nzMd]="6" [nzXs]="24" style="text-align:center">
          <nz-form-label>تصاویر</nz-form-label>
          <br />
          <nz-alert nzType="info" class="alertInTopOfTable" nzMessage=" اولین تصویر، تصویر اصلی، دومین تصویر تصویر فرعی محسوب میشوند"></nz-alert>
          <nz-alert nzType="info" class="alertInTopOfTable" nzMessage=" میتوانید با کشیدن و رها کردن ترتیب تصاویر را تغییر دهید"></nz-alert>
          <button nz-button nzType="dashed" (click)=" imageModal = true ">اضافه کردن  تصویر</button>
        </div>
        <div nz-col [nzSm]="12" [nzXs]="24">
          <div nz-row cdkDropList (cdkDropListDropped)="dropAndDrop_DropHandler($event, item,'Images')">
            <nz-card *ngFor="let r of item.controls.Images.value" nz-col [nzMd]="6" [nzXs]="24" cdkDrag>
              <img style="width:100%" [src]="'/front'+r.Path" />
              <br />
              <input type="text" nz-input style="width:100%" placeholder="توضیحات" [(ngModel)]="r.Description" />
              <i nz-icon (click)="deleteFromList(item, 'Images',r.Path,'Path' )"
                 style="color: #F93154;"
                 class="larger"
                 [innerHtml]="icons['delete']"></i>
            </nz-card>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>

</ng-template>

<ng-template #tableBodyPicker let-item="item">

</ng-template>

<ng-template #treeBody let-item="item">
  <nz-tag [nzColor]="'#f50'">{{ item.Id }}</nz-tag>
  <nz-tag [nzColor]="'#130fffc9'">{{ item.Priority }}</nz-tag>
  {{ item.Title }}
  <i nz-icon class="larger" [innerHtml]="item.Icon |sanitizeHtml "></i>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  {{ item.Create_}}
</ng-template>




<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>


<ng-container *ngIf="mainTemplate">


  <nz-modal [(nzVisible)]="imageModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن تصویر" (nzOnCancel)="imageModal = false">
    <ng-container *nzModalContent>
      <app-image-uploader-card key="this" Id="1" (onOk)="addImage($event)"></app-image-uploader-card>
    </ng-container>
  </nz-modal>
</ng-container>
