

<ng-template #form let-item="item">
  <form nz-form [formGroup]="item">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">عنوان</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="عنوان را وارد کنید">
        <input nz-input formControlName="Title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">استان</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="استان را وارد کنید">

        <nz-select formControlName="ProvinceId">
          <nz-option *ngFor="let c of provinces" [nzValue]="c.Id" [nzLabel]="c.Title"></nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>
</ng-template>
<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>{{ item.ProvinceId_ }}</td>
</ng-template>
<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>




