

<ng-template #form let-item="item">
  <form nz-form [formGroup]="item">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">نام</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="نام را وارد کنید">
        <input nz-input formControlName="FirstName" />
      </nz-form-control>

      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="Title">نام خانوادگی</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="نام خانوادگی را وارد کنید">
        <input nz-input formControlName="LastName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">گذرواژه</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="گذرواژه را وارد کنید">
        <input nz-input formControlName="Password" />
      </nz-form-control>

      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="Title">تلفن همراه</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="تلفن همراه را وارد کنید">
        <input nz-input formControlName="PhoneNumber" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">آیا تلفن همراه تایید شده است؟</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24"  >
        <label nz-checkbox formControlName="PhoneNumberConfirm">Checkbox</label>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>
</ng-template>
<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>{{ item.FirstName }}</td>
  <td>{{ item.LastName }}</td>
  <td>{{ item.PhoneNumber }}</td>
</ng-template>

<ng-template #tableBodyPicker let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.FirstName }}</td>
  <td>{{ item.LastName }}</td>
  <td>{{ item.PhoneNumber }}</td>
</ng-template>


<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

