

<ng-template #form let-item="item">
  <form nz-form [formGroup]="item">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">شناسه مشتری</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="24" nzErrorTip="شناسه مشتری را وارد کنید">
        <input nz-input formControlName="CustomerId" />
      </nz-form-control>
      <button nz-button nz-col [nzSm]="2" [nzXs]="24" *ngIf="item.controls.Id.value == 0" nzType="dashed" nzDanger (click)="customerIdModal=true">انتخاب</button>


      <nz-form-control [nzSm]="8" [nzXs]="12">
        {{item.controls.FirstName.value}}
        {{item.controls.LastName.value}}
      </nz-form-control>
    </nz-form-item>



    <nz-form-item>



      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">مبلغ </nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="24">
        <input nz-input formControlName="Price" />
      </nz-form-control>

      <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="Title">هزینه ارسال </nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="24" nzErrorTip="هزینه ارسال  را وارد کنید">
        <input nz-input formControlName="PostPrice" />
      </nz-form-control>

      <nz-form-label [nzSm]="3" [nzXs]="12" nzFor="Title">آیا پرداخت شده است؟ </nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="24">
        <label nz-checkbox formControlName="IsPaid">Checkbox</label>
      </nz-form-control>

    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">توضیحات </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" formControlName="Description"></textarea>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">استان </nz-form-label>
      <nz-select f nz-col [nzSm]="3" [nzXs]="24" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.controls.Address.value.Province">
        <nz-option *ngFor="let c of provinces"  [nzValue]="c.Id" [nzLabel]="c.Title"></nz-option>
      </nz-select>

      <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="Title"> شهرستان </nz-form-label>
      <input nz-input nz-col [nzSm]="3" [nzXs]="24" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.controls.Address.value.City" />

      <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="Title"> کد پستی </nz-form-label>
      <input nz-input nz-col [nzSm]="4" [nzXs]="24"  [ngModelOptions]="{standalone: true}" [(ngModel)]="item.controls.Address.value.PostalCode" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title"> کد پستی </nz-form-label>
      <textarea nz-input nz-col [nzSm]="16" [nzXs]="24" [nzAutosize]="{ minRows: 3, maxRows: 5 }" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.controls.Address.value.FullAddress"></textarea>
    </nz-form-item>

  </form>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>
</ng-template>
<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.FirstName }}</td>
  <td>{{ item.LastName }}</td>
  <td>{{ item.Title }}</td>
  <td>{{ item.Create_}}</td>
  <td>{{ item.Status }}</td>
  <td>{{ item.ProvinceId_ }}</td>
</ng-template>
<app-template *ngIf="ok" [com]="this"></app-template>


<nz-modal [nzWidth]="'80%'" [(nzVisible)]="customerIdModal" [nzFooter]="modalFooter" nzTitle="افزودن  کلیدواژه" (nzOnCancel)="customerIdModal = false">
  <ng-container *nzModalContent>
    <app-customer (select)="customerIdModalSelected($event)"></app-customer>
    <button style="float:left" nz-button nzType="primary" (click)="customerIdModal = false">تایید </button>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
</ng-template>
