

<ng-template #form let-item="item">
  <form nz-form [formGroup]="item">
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="Title">نام</nz-form-label>
      <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="نام را وارد کنید">
        <input nz-input formControlName="Title" />
      </nz-form-control>
    </nz-form-item>
  </form>


  <div nz-row>
    <div nz-col [nzXs]="24" [nzMd]="8" [nzLg]="6" style="text-align:center">
      <nz-form-label>محصولات</nz-form-label>
      <br />
      <nz-alert nzType="info" class="alertInTopOfTable" style="margin:5px" nzMessage=" میتوانید با کشیدن و رها کردن ترتیب محصولات مشابه را تغییر دهید"></nz-alert>
      <button nz-button nzType="dashed" (click)="relatedModal = true ">اضافه کردن محصولات مشابه</button>
    </div>
    <div nz-col  [nzXs]="24" [nzMd]="16" [nzLg]="12">
      <ng-container *ngTemplateOutlet="mainTemplate.listWithDragDropTemplate;context:{com: this, item:item, name:'Products'}"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>
</ng-template>
<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td> </td>
  <td>{{ item.Products?.length }}</td>
</ng-template>

<ng-template #tableBodyPicker let-item="item">
</ng-template>


<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

<ng-container *ngIf="mainTemplate">
  <nz-modal [nzWidth]="'80%'" [(nzVisible)]="relatedModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن محصولات مشابه" (nzOnCancel)="relatedModal = false">
    <ng-container *nzModalContent>
      <app-product (select)="addToControlList(selectedForm(), $event,'Products' )"></app-product>
      <button style="float:left" nz-button nzType="primary" (click)="relatedModal = false">تایید </button>
    </ng-container>
  </nz-modal>

</ng-container>

