

<ng-template #form let-item="item">

  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="محتوای اصلی">
      <form nz-form [formGroup]="item">


        <nz-form-item>
          <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="Id">شناسه</nz-form-label>
          <nz-tag [nzColor]="'#f50'">{{item.controls.Id.value}}</nz-tag>
          <nz-form-control [nzSm]="4" [nzXs]="24" nzErrorTip="وضعیت معتبر نیست">
            <nz-select formControlName="Status" nzPlaceHolder="Select OS" nzShowSearch nzAllowClear [nzCustomTemplate]="statusTemplate">
              <nz-option *ngFor="let item of cs.Statuses" [nzValue]="item.title" nzCustomContent>
                {{item.label}}
                <i [style.color]="item.color" nz-icon [innerHtml]="icons[item.icon]"></i>
              </nz-option>
            </nz-select>
            <ng-template #statusTemplate let-selected>
              <ng-container *ngFor="let item of cs.Statuses">
                <div *ngIf="selected.nzValue==item.title">
                  {{item.label}}
                  <i nz-icon [style.color]="item.color" [innerHtml]="icons[item.icon]"></i>
                </div>
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="Title">عنوان</nz-form-label>
          <nz-form-control [nzMd]="6" [nzXs]="24" nzErrorTip="عنوان را وارد کنید">
            <input nz-input formControlName="Title" />
          </nz-form-control>

          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="email"> دسته بندی والد</nz-form-label>
          <nz-form-control [nzMd]="6" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-tree-select [nzNodes]="categoryTree"
                            nzShowSearch
                            nzPlaceHolder="لطفا دسته بندی والد را انتخاب نمایید"
                            formControlName="CategoryId">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="Summary">شرح خلاصه</nz-form-label>
          <nz-form-control [nzMd]="6" [nzXs]="24" nzErrorTip="شرح خلاصه را وارد کنید">
            <input nz-input formControlName="Summary" />
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="Description">شرح </nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="شرح  را وارد کنید">
            <ckeditor [editor]="Editor" tagName="textarea" [config]="config" formControlName="Description"></ckeditor>
          </nz-form-control>
        </nz-form-item>
      </form>


    </nz-tab>

    <nz-tab nzTitle="انواع محصولات ({{item.controls.Types.value?.length}})">
      <nz-table #typesTable [nzData]="item.controls.Types.value">
        <thead>
          <tr>
            <th rowspan="2" width="5%">شناسه</th>
            <th  >عنوان</th>
            <th  >توضیحات</th>
            <th  >قیمت</th>
            <th  >تخفیف</th>
            <th  > قیمت کل </th>
            <th  >        </th>
          </tr>
          <tr>
            <th  >رنگ</th>
            <th  >سایز</th>
            <th  >    تعداد موجودی  </th>
            <th  >     تعداد فروش  </th>
            <th  >      حداکثر تعداد مجاز خرید  </th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropAndDrop_DropHandler($event, item,'Types')">
          <ng-container *ngFor="let t of typesTable.data">
            <!--cdkDrag-->
            <tr>
              <td rowspan="2">
                <nz-tag [nzColor]="'cyan'" style="width:30px"> {{t.Id}}</nz-tag>
              </td>
              <td>       <input nz-input [(ngModel)]="t.Title" />     </td>
              <td>
                <nz-select [(ngModel)]="t.Color"
                           [nzCustomTemplate]="colorSelectedTemplate">
                  <nz-option *ngFor="let c of dataManager.loadedData.Colors"
                             nzCustomContent
                             [nzValue]="c.Value"
                             [nzLabel]="c.Title">
                    <i [style.background-color]="c.Value" style="padding-left:23px;margin-left:5px"> </i>{{c.Title}}
                  </nz-option>

                  <ng-template #colorSelectedTemplate let-selected>
                    <i [style.background-color]="selected.nzValue" style="padding-left:23px;margin-left:5px">      </i>{{ selected.nzLabel }}

                  </ng-template>
                </nz-select>

              </td>
              <td>
                <nz-select [(ngModel)]="t.Size">
                  <nz-option *ngFor="let c of dataManager.loadedData.Sizes"
                             [nzValue]="c.Value"
                             [nzLabel]="c.Title + ' ' + c.Value"></nz-option>
                </nz-select>
              </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.Decription" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.Price" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.Off" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.TotalPriceAfterOff" [nzMin]="0" [nzMax]="1000000000" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.Supply" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.Sells" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>   </td>
              <td>       <nz-input-number (ngModelChange)="makeItDirty(item)" [(ngModel)]="t.MaxAllowedBuy" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>   </td>
              <td>
                <button nz-button nz-col nzType="dashed" nzDanger (click)="delType(item,t)">حذف</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>

      <button nz-button nz-col [nzSm]="4" nzType="dashed" (click)="addType(item)">اضافه کردن</button>





    </nz-tab>
    <nz-tab nzTitle=" تصاویر  ({{item.controls.Images.value?.length}})">


      <div nz-row>
        <div nz-col [nzMd]="6" [nzXs]="24" style="text-align:center">
          <nz-form-label>تصاویر</nz-form-label>
          <br />
          <nz-alert nzType="info" class="alertInTopOfTable" nzMessage=" اولین تصویر، تصویر اصلی، دومین تصویر تصویر فرعی محسوب میشوند"></nz-alert>
          <nz-alert nzType="info" class="alertInTopOfTable" nzMessage=" میتوانید با کشیدن و رها کردن ترتیب تصاویر را تغییر دهید"></nz-alert>
          <button nz-button nzType="dashed" (click)=" imageModal = true ">اضافه کردن محصولات مشابه</button>
        </div>
        <div nz-col [nzSm]="12" [nzXs]="24">
          <div nz-row cdkDropList (cdkDropListDropped)="dropAndDrop_DropHandler($event, item,'Images')">
            <nz-card *ngFor="let r of item.controls.Images.value" nz-col [nzMd]="6" [nzXs]="24" cdkDrag>
              <img style="width:100%" [src]="'/front'+r.Path" />
              <br />
              <input type="text" nz-input style="width:100%" placeholder="توضیحات" [(ngModel)]="r.Description" />
              <i nz-icon (click)="deleteFromList(item, 'Images',r.Path,'Path' )"
                 style="color: #F93154;"
                 class="larger"
                 [innerHtml]="icons['delete']"></i>
            </nz-card>
          </div>
        </div>
      </div>



    </nz-tab>

    <nz-tab nzTitle=" ویژگی ها  ({{countNodes(item, 'DetailsNodeValues')}})">
      <nz-alert nzType="info" class="alertInTopOfTable" nzMessage="برای انتخاب ویژگی ها حتما باید دسته بندی انتخاب شده باشد"></nz-alert>
      <br />
      <nz-tree *ngIf="item.controls.CategoryId.value" [nzData]="getCatNodes(item.controls.CategoryId.value)" nzBlockNode [nzTreeTemplate]="nzTreeTemplate">
        <ng-template #nzTreeTemplate let-node let-origin="origin">
          <nz-tag [nzColor]="'magenta'" style="width:30px"> {{origin.key}}</nz-tag>
          <nz-tag [nzColor]="'cyan'" style="width:30px"> {{origin.name}}</nz-tag>
          <input (change)="makeItDirty(item)" [(ngModel)]="item.controls.DetailsNodeValues.value[origin.key]" />
        </ng-template>
      </nz-tree>
    </nz-tab>

    <nz-tab nzTitle=" محصولات مشابه ({{item.controls.Relateds.value?.length}})">


      <div nz-row>
        <div nz-col [nzXs]="24" [nzMd]="8" [nzLg]="6" style="text-align:center">
          <nz-form-label>محصولات مشابه </nz-form-label>
          <br />
          <nz-alert nzType="info" class="alertInTopOfTable" nzMessage=" میتوانید با کشیدن و رها کردن ترتیب محصولات مشابه را تغییر دهید"></nz-alert>
          <button nz-button nzType="dashed" (click)="relatedModal = true ">اضافه کردن محصولات مشابه</button>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="16" [nzLg]="12">
          <ng-container *ngTemplateOutlet="mainTemplate.listWithDragDropTemplate;context:{com: this, item:item, name:'Relateds'}"></ng-container>
        </div>
      </div>



    </nz-tab>

    <nz-tab nzTitle=" کلمات کلیدی ({{item.controls.KeyWords.value?.length}})">


      <div nz-row>
        <div nz-col [nzXs]="24" [nzMd]="8" [nzLg]="6" style="text-align:center">
          <nz-form-label>کلمات کلیدی</nz-form-label>
          <br />
          <nz-alert nzType="info" class="alertInTopOfTable" style="margin:5px" nzMessage=" میتوانید با کشیدن و رها کردن ترتیب محصولات مشابه را تغییر دهید"></nz-alert>
          <button nz-button nzType="dashed" (click)="keywordModal = true ">اضافه کردن کلیدواژه</button>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="16" [nzLg]="12">
          <ng-container *ngTemplateOutlet="mainTemplate.listWithDragDropTemplate;context:{com: this, item:item, name:'KeyWords'}"></ng-container>
        </div>
      </div>




    </nz-tab>
  </nz-tabset>


</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>
</ng-template>


<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>{{item.Category_}}</td>
  <td>{{item.Supply}}</td>
  <td>
    <img style="max-width:100px" *ngIf="item.Images?.length>0" [src]="'/front'+item.Images[0].Path" />
  </td>
</ng-template>


<ng-template #tableBodyPicker let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title }}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>{{ item.Category_ }}</td>
  <td>{{item.Supply}}</td>
  <td> </td>
</ng-template>



<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

<ng-container *ngIf="mainTemplate">

  <nz-modal [(nzVisible)]="imageModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن تصویر" (nzOnCancel)="imageModal = false">
    <ng-container *nzModalContent>
      <app-image-uploader-card key="StoreDB/Product" Id="1" (onOk)="addImage($event)"></app-image-uploader-card>
      <button style="float:left" nz-button nzType="primary" (click)="imageModal = false">تایید </button>
    </ng-container>
  </nz-modal>


  <nz-modal [nzWidth]="'80%'" [(nzVisible)]="relatedModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن محصولات مشابه" (nzOnCancel)="relatedModal = false">
    <ng-container *nzModalContent>
      <app-product (select)="relatedProductSelected($event)"></app-product>
      <button style="float:left" nz-button nzType="primary" (click)="relatedModal = false">تایید </button>
    </ng-container>
  </nz-modal>


  <nz-modal [nzWidth]="'80%'" [(nzVisible)]="keywordModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن  کلیدواژه" (nzOnCancel)="keywordModal = false">
    <ng-container *nzModalContent>
      <app-keyword (select)="keywordSelected($event)"></app-keyword>
      <button style="float:left" nz-button nzType="primary" (click)="keywordModal = false">تایید </button>
    </ng-container>
  </nz-modal>
</ng-container>
