

<div style="height:90%;width:100%;background-color:white">
   <div class="mainwelcome forceCenter" style="text-align:center">
    <nz-badge [nzCount]="res.Categories" nzShowZero>

      <div class="nz-badge-card">
        تعداد دسته بندی ها
      </div>
    </nz-badge>
    <nz-badge [nzCount]="res.Brands" nzShowZero>
      <div class="nz-badge-card">
        تعداد   برندها
      </div>
    </nz-badge>
    <nz-badge [nzCount]="res.Products" nzShowZero>
      <div class="nz-badge-card">
        تعداد   محصولات
      </div>
    </nz-badge>
    <nz-badge [nzCount]="res.Customers" nzShowZero>
      <div class="nz-badge-card">
        تعداد   مشتریان
      </div>
    </nz-badge>





    <span class="" style="font-size:x-large; color:darkred;width:50%">
    </span>
  </div>
</div>
