div#list-catalog1092 .slick-track
{
display:            flex;
}
#productLeft .mainImageSection > .pos-r
{
padding:            5px;
box-sizing: border-box;
}

.cloudzoom-zoom
{
width: 15% !important;
height: 50% !important;
}

.cloudzoom-blank
{
display: none;
}

.dty-beden
{
font-weight:   500;
font-size: 13px;
color:   #00A22D;
}

.detayGercekFyt.geceKusuDetay>div
{
color: #fff !important;
text-shadow:            0px 1px 2px #000;
}

.detayGercekFyt.geceKusuDetay>span
{
color:            #fff;
text-shadow: 0px 1px 2px #000;
}

.mainProductSection
{
list-style:      none;
}

.red2
{
animation:            mymove 3s infinite;
animation-name: shake;
animation-duration:            6s;
animation-name: shakeAnim;
animation-timing-function: cubic-bezier(0.38, 0.29, 0.61, 0.86);
position:            relative;
}
@-webkit-keyframes shakeAnim
{
0%
{
left: 0
}
1%
{
left: -3px
}
2%
{
left: 5px
}
3%
{
left: -8px
}
4%
{
left: 8px
}
5%
{
left: -5px
}
6%
{
left: 3px
}
7%
{
left: 0
}
}
@-webkit-keyframes shake
{
0%
{
left: 0
}
1%
{
left: -3px
}
2%
{
left: 5px
}
3%
{
left: -8px
}
4%
{
left: 8px
}
5%
{
left: -5px
}
6%
{
left: 3px
}
7%
{
left: 0
}
}
@-webkit-keyframes lediki
{
0%
{
background-color:            #f4651a;
}
50%
{
background-color:            #6dc0cc;
}
100%
{
background-color:            #4545ce;
}
}
@-moz-keyframes lediki
{
0%
{
background-color:            #f4651a;
}
50%
{
background-color:            #6dc0cc;
}
100%
{
background-color:            #4545ce;
}
}
@-ms-keyframes lediki
{
0%
{
background-color:            #f4651a;
}
50%
{
background-color:            #6dc0cc;
}
100%
{
background-color:            #4545ce;
}
}
@-o-keyframes lediki
{
0%
{
background-color:            #f4651a;
}
50%
{
background-color:            #6dc0cc;
}
100%
{
background-color:            #4545ce;
}
}
@keyframes lediki
{
0%
{
background-color:            #f4651a;
}
50%
{
background-color:            #6dc0cc;
}
100%
{
background-color:            #4545ce;
}
}

.fl.detayGercekFyt.geceKusuDetay
{
border-color:            #e40000;
background: #e40000;
color:            #df1d4c;
background: #d61d1d;
border-color:            #de1e4d;
-webkit-animation: ledikigecekusu .8s infinite;
-moz-animation: ledikigecekusu .8s infinite;
-ms-animation: ledikigecekusu .8s infinite;
-o-animation: ledikigecekusu .8s infinite;
animation: ledikigecekusu 0.9s infinite;
border:            none;
animation-timing-function: ease-out;
animation-delay:            0s;
animation-direction: alternate;
animation-iteration-count:            infinite;
animation-fill-mode: none;
animation-play-state:            running;
box-sizing: border-box;
}
@-webkit-keyframes ledikigecekusu
{
0%
{
background-color:            #e11f4e;
}
50%
{
background-color:            #e31e4e;
}
100%
{
background-color:            #e31e4e;
}
}
@-moz-keyframes ledikigecekusu
{
0%
{
background-color:            #e31e4e;
}
50%
{
background-color:            #e31e4e;
}
100%
{
background-color:            #e31e4e;
}
}
@-ms-keyframes ledikigecekusu
{
0%
{
background-color:            #e31e4e;
}
50%
{
background-color:            #e31e4e;
}
100%
{
background-color:            #e31e4e;
}
}
@-o-keyframes ledikigecekusu
{
0%
{
background-color:            #e31e4e;
}
50%
{
background-color:            #e31e4e;
}
100%
{
background-color:            #e31e4e;
}
}
@keyframes ledikigecekusu
{
0%
{
background-color:            #ff0000;
}
50%
{
background-color:            #e20808;
}
100%
{
background-color:            #ff0000;
}
}

.fl.detayGercekFyt.simge5
{
border-color:            #e40000;
background: #e40000;
color:            #e31e4e;
background: #fff;
border-color:            #e40000;
/* -webkit-animation: lediki .8s infinite;
-moz-animation: lediki .8s infinite;
-ms-animation: lediki .8s infinite;
-o-animation: lediki .8s infinite;
animation: lediki 0.9s infinite;
border:             none;
animation-timing-function: ease-out;
animation-delay:             0s;
animation-direction: alternate;
animation-iteration-count:             infinite;
animation-fill-mode: none;
animation-play-state:             running;
box-sizing: border-box;*/
}

.detayGercekFyt.simge5>div
{
color:            #202020;
}

.appendPrice .simge5 span
{
color:            #fff;
}

.detayGercekFyt.simge4 > div
{
color:            #c2198b;
}

.detayGercekFyt.simge4
{
border:            1px solid #c21975;
color: #c21975;
}

.appendPrice .simge4 span
{
color:            #c21975;
}
#commentTabContent .stars > .stars-inner
{
height:            15px;
background: url(https://image.tofisa.com/Data/EditorFiles/2021/micon/staractive.svg) no-repeat left;
}

.ciDate, .ciName
{
margin-top:            5px;
margin-left: 10px;
}
#commentTabContent .stars
{
width:            90px;
background: url(https://image.tofisa.com/Data/EditorFiles/2021/micon/star.svg) no-repeat left;
height:            15px;
margin: 0;
}

.yorumYap > span
{
background:            #f26b26;
padding: 15px 40px 15px 40px;
box-sizing:            border-box;
border-radius: 5px;
color:            #fff;
text-transform: uppercase;
font-size:            12px;
font-weight: 500;
}

.yorumYap
{
display:            flex;
justify-content: center;
margin:            20px 0;
}
#commentTabContent > .comment-list
{
background:            #fcfcfc;
}
#commentTabContent > .comment-list:nth-child(odd)
{
background:            #fff;
}
div#newComment
{
padding:            20px;
box-sizing: border-box;
}

.dyTitle
{
font-size:            13px;
font-weight: 600;
color:            #323232;
margin-bottom: 10px;
padding:            20px 20px 0 20px;
box-sizing: border-box;
}

.commetCount
{
font-size:            12px;
color: #323232;
margin-bottom:            25px;
padding: 0px 20px 0 20px;
box-sizing:            border-box;
}

.detayYorumlar
{
background:            #fff;
border-radius: 4px;
border:            1px solid #eee;
box-sizing: border-box;
}

.comment-list
{
border-bottom:            1px solid #f5f5f5;
padding: 30px 20px 30px 20px;
box-sizing:            border-box;
}

.ciMember
{
font-size:            13px;
color: #555;
margin-bottom:            10px;
display: flex;
align-items:            center;
}

.cidTitle
{
font-size:            12px;
font-weight: 500;
color:            #666;
margin-bottom: 5px;
}

.cidContent
{
font-size:            12px;
color: #323232;
line-height:            18px;
}
div#newComment input
{
border: 2px solid #eee !important;
border-radius: 5px !important;
}
div#newComment textarea
{
border: 2px solid #eee !important;
border-radius: 5px !important;
}
div#newComment .saveComment
{
margin-top:            20px;
border-radius: 5px;
}

.displayName
{
display:            flex;
margin-top: 20px;
}

.dnName
{
font-size:            12px;
color: #323232;
}

.displayName .form-item i:before
{
width:            20px;
height: 20px;
display:            block;
border: 2px solid #ddd;
border-radius: 100%;
font-size: 0.1px;
}

.displayName label
{
font-size:            12px;
text-transform: uppercase;
display:            flex;
align-items: center;
color:            #323232;
}

.displayName .form-item i.icon-square-checked:after
{
content: '';
width:            14px;
height: 14px;
background:            #f26b26;
position: absolute;
left:            5px;
top: 5px;
border-radius: 100%;
border:            3px solid #fff;
box-sizing: border-box;
}

.displayName .form-item i.icon-square-checked:before
{
background:            #f26b26;
border-color: #f26b26;
}

.detailPhotoSet
{
overflow-y:            auto;
-webkit-overflow-scrolling: touch;
-ms-touch-action:            auto;
touch-action: auto;
}

.dpsArrow
{
position:            absolute;
width: 100%;
z-index:            99;
top: 50%;
left:            0;
display: flex;
justify-content:            flex-end;
margin-top: -20px;
}

.dpsArrow > div
{
width:            40px;
height: 40px;
background:            #f36a25;
cursor: pointer;
}

.dpsArrow > div.dpsaLeft
{
margin-left:            6px;
background: url(https://image.tofisa.com/Data/EditorFiles/SmugAgency/sol.svg) no-repeat center;
}

.dpsArrow > div.dpsaRight
{
background: url(https://image.tofisa.com/Data/EditorFiles/SmugAgency/sag.svg) no-repeat center;
}

.detailPhotoSet::-webkit-scrollbar
{
height:            5px;
}

.detailPhotoSet::-webkit-scrollbar-track
{
background:            #eee;
}

.detailPhotoSet::-webkit-scrollbar-thumb
{
background:            #aaa;
border-radius: 0;
}

.detailPhotoSet ul#productImage
{
display:            flex;
box-sizing: border-box;
}

.detailPhotoSet ul#productImage li
{
width: 88%;
flex:            none;
display: block;
padding:            0;
box-sizing: border-box;
margin-right:            5px;
}
div#list-catalog1092 .slick-arrow
{
height:            30px;
width: 30px;
position:            absolute;
top: calc(50% - 15px);
font-size:            0;
border: none;
outline:            none;
z-index: 1;
cursor:            pointer;
}

.detayGercekFyt>div
{font-size:            10px;color: #fff;font-weight:            400;height: 20px;line-height:            10px;margin-bottom: 4px;}

.detayGercekFyt
{
border:  1px solid #e62e2f;
border-radius: 3px
;padding:            6px;
box-sizing: border-box
;text-align:            center;
font-size: 18px;
width: 85%
;background:  #e62e2f;
}
div#productLeft
{
position:            relative;
}
div#productLeft span.symbol6
{
right:            6px;
width: 89px;
z-index:            99;
top: 7px;
}
div#productLeft span.symbol7
{
position:            absolute;
bottom: auto;
z-index:            99;
width: 100%;
}

.mainImageSection>.col
{
height:            607px;
background: #fff;
}
#productImage .owl-nav
{
position:            absolute;
top: calc(50% - 15px);
font-size:            0;
border: none;
outline:            none;
z-index: 99;
cursor:            pointer;
left: 0;
display:            block;
width: 100%;
}
#productImage .owl-nav .owl-prev
{
left:            10px;
background: url(/Data/EditorFiles/SmugAgency/sol.svg) center no-repeat;
position:            absolute;
}
#productImage .owl-nav .owl-next
{
right:            10px;
background: url(/Data/EditorFiles/SmugAgency/sag.svg) center no-repeat;
position:            absolute;
}
#productImage .owl-nav>button
{
width:            40px;
height: 40px;
}

.owl-dots
{
display: none !important;
}

.variantBox.subTwo .variantList a.passive
{
background:            #f2f7fd;
border-color: #e8eef7;
}

.variantBox.subTwo .variantList a.passive p
{
background:            #f2f7fd;
color: #bbb;
}

.variantBox.subTwo .variantList a.passive span
{
color:            #bbb;
}
#productDetails .Content ul li
{
color:            #aaa;
font-size: 12px;
}

.variantTop .Left
{
color:            #40a940;
}

.detayIkna
{
background:            #fff1e6;
height: 30px;
display:            flex;
align-items: center;
justify-content:            center;
color: #424242;
border-bottom-left-radius:            4px;
border-bottom-right-radius: 5px;
letter-spacing: 0.5px;
font-size:            12px;
}

.fl.saleCount>span
{
font-weight:            600;
}
div#list-catalog1092 .slick-arrow.slick-prev
{
left:            10px;
background: url(/Data/EditorFiles/SmugAgency/sol.svg) center no-repeat;
}
div#list-catalog1092 .slick-arrow.slick-next
{
right:            0;
background: url(/Data/EditorFiles/SmugAgency/sag.svg) center no-repeat;
}
a.productEditforAdminDetay
{
position:            absolute;
left: 1px;
top:            217px;
}
a.productEditforAdminDetayPhoto
{
position:            absolute;
top: 260px;
left:            1px;
}
#productLeft .mainImageSection
{
background:            #fff;
border-radius: 4px;
border: solid .5px #ececec;
overflow:            hidden;
}
ul#productThumbs li a
{
background:            #fff;
border: solid .5px #ececec;
border-radius:            4px;
}
#productLeft .thumbSection
{
width:            66px;
}

.error .variantWrapper.tooltipWrapper
{
background:            #fff;
position: relative;
z-index:            999;
border-radius: 10px;
}

.error .variantOverlay
{
background:            #00000073;
position: fixed;
width: 100%;
height: 100%;
left:            0;
top: 0;
z-index:            9;
}
#price-flexer .priceInner>.col
{
padding:            0;
}
#price-flexer .priceInner>.one .box, #price-flexer .discountPrice
{
padding:            5px 5px 5px 0;
}

.lightboxOverlay
{
z-index: 999998 !important;
}

.lightbox
{
z-index: 999999 !important;
}
div#myPopupWin .pageTitle
{
text-align:            center;
}
div#myPopupWin .pageTitle i
{
display:            none;
}

.EditorSection
{
background:            #f8fbff;
border-radius: 4px;
padding:            10px;
box-sizing: border-box;
margin-bottom:            10px;
}

.MankenSection
{
color:            #111;
font-size: 13px;
font-weight:            400;
background: transparent;
padding:            0;
margin-bottom: 0;
}

.EditorSection .EditorTitle
{
font-weight:            400;
}

.EditorSection .EditorDesc
{
line-height: 1.5;
margin-top:            5px;
}
ul#productThumbs *
{
outline: none !important;
}

.variantBox.subTwo .variantList a.selected p
{
background:            #f36a25;
color: #fff;
border-bottom:            solid 1px #ffffff54;
}

.variantBox.subTwo .variantList a.selected
{
border:            solid 1px #fff;
}

.slickFlex
{
display:            flex;
}

.otherFlexList
{
display:            flex;
flex-wrap: wrap;
padding:            0 5px;
}
/*.thumbSection
{
display:                                  none;
}
*/
ul#productThumbs li
{
opacity: .5;
padding-bottom:            18px;
outline: none;
border:            none;
}
ul#productThumbs .slick-arrow
{
display: none !important;
}
ul#productThumbs
{
padding-right:            10px;
box-sizing: border-box;
}
ul#productThumbs li.slick-active.slick-current
{
opacity:            1;
}
ul#productImage .slick-arrow
{
width:            60px;
height: 60px;
background:            #f36a25;
cursor: pointer;
opacity:            0;
border: none;
outline:            navajowhite;
font-size: 0;
position:            absolute;
z-index: 1;
top: calc(50% - 30px);
}
ul#productImage .slick-arrow.slick-prev
{
left:            0;
background: url(/Data/EditorFiles/SmugAgency/sol.svg) center no-repeat;
}
ul#productImage .slick-arrow.slick-next
{
right:            0;
background: url(/Data/EditorFiles/SmugAgency/sag.svg) center no-repeat;
}

.slick-arrow:hover
{
opacity:            1;
}

.DetailBottom
{
margin:            10px 0;
display: flex;
align-items:            center;
position: absolute;
bottom:            0;
left: 0;
padding:            0 10px;
box-sizing: border-box;
}

.DetailBottom a
{
height:            40px;
background: #f8fbff;
width: 100%;
display:            flex;
align-items: center;
justify-content:            center;
color: #000;
border-radius:            4px;
/*
border:            solid 1px #00000036;
*/
font-weight:            500;
text-align: center;
line-height: 1.3;
}

.DetailBottom a:hover
{
background:            #f36a25;
color: #fff;
transition: all .4s;
}

.mainProductSection>.row
{
display:            flex;
}

.orderNote
{
display:            none;
}
div#selectBox
{
display:            none;
}
#navigasyon a span.forDesktop:before
{
background-size:            7px;
margin: 0 5px;
}
div#nav-wrapper
{
width:            1000px;
display: flex;
align-items:            center;
justify-content: flex-start;
margin:            0 auto;
}

.otherColors::After
{
content: '';
display:            flex;
width: calc(100% - 40px);
background:            white;
position: absolute;
bottom:            0;
left: 20px;
height:            1px;
right: 20px;
}
div#navigasyon
{
border-top:            none;
padding: 0;
}
#productLeft .slide-wrapper>.row:first-child
{
position:            relative;
}
#productThumbs li.active .box-border
{
border-color:            #000;
}

.mainImageSection .slideControl
{
width: calc(100% - 20px);
left:            10px;
}

.mainImageSection .slideControl span
{
width:            60px;
height: 60px;
background:            #f36a25;
cursor: pointer;
opacity: .5;
}

.mainImageSection .slideControl span:hover
{
opacity:            1;
}
#thumbControl
{
position:            static;
}
#thumbControl>span
{
position:            absolute;
width: 100%;
left:            0;
height: 30px;
border:            1px solid #eee;
box-sizing: border-box;
cursor:            pointer;
}
#thumbControl span#prevThumb
{
top:            -35px;
background: #fff url('https://image.tofisa.com/Data/EditorFiles/uppdetay.svg') center center no-repeat;
background-size:            20px;
}
#thumbControl span#nextThumb
{
bottom:            -35px;
background: #fff url('https://image.tofisa.com/Data/EditorFiles/downnalt.svg') center center no-repeat;
background-size:            20px;
}
div#productRight
{
background:            #fff;
border-radius: 4px;
border: solid .5px #ececec;
padding:            20px;
padding-bottom: 50px;
}
#productName
{
color:            #888;
font-size: 12px;
font-weight:            500;
margin-top: 0;
}
#supplier-question
{
font-weight:            500;
font-size: 13px;
color:            #97a4c3;
padding: 0;
}
#price-flexer
{
display:            flex;
align-items: center;
margin-top:            5px;
justify-content: flex-start;
}
#price-flexer>div
{
min-width:            80px;
}
#price-flexer .oldest
{
font-weight:            400;
font-size: 14px;
color:            #a1a1a1;
text-decoration: none;
padding:            0;
margin-right: 10px;
}
#price-flexer .discountPrice
{
font-size:            14px;
color: #888;
text-decoration:            none;
font-weight: 400;
margin-right:            10px;
}
#price-flexer .discountedPrice
{font-size:            25px;font-weight: 600;color: #ffffff;padding: 0;margin-top:            5px;display: flex;align-items:            center;}
#price-flexer .priceInner
{
display:            flex;
flex-direction: column;
}

.variantWrapper
{
margin-bottom:            20px;
border-radius: 0 0 4px 4px;
padding:            20px 20px 10px 20px;
box-sizing: border-box;
background:            #d2e6ff26;
}

.variantBox.subTwo .variantList
{
box-sizing:            border-box;
margin-top: 5px;
border-radius:            4px;
}

.variantBox.subTwo .variantList a span
{
color:            black;
display: flex;
align-items:            center;
justify-content: center;
height:            24px;
font-size: 10px;
border-top:            solid 1px #adadad59;
}

.variantBox.subTwo .variantList a.selected span
{
color:            #fff;
border: none;
}

.variantBox.subTwo .variantList a
{
height:            50px;
margin-right: 10px;
margin-bottom:            10px;
background: #fff;
width:            max-content;
border: 1px solid #adadad;
border-radius:            4px;
padding: 0;
padding-right:            8px;
overflow: hidden;
padding-left:            8px;
}

.variantBox.subTwo .variantList a.passive
{
position:            relative;
opacity: .8;
cursor:            no-drop;
}

.variantBox.subTwo .variantList a.passive::after
{
height:            150px;
width: 1px;
background:            #ff000082;
position: absolute;
content: '';
display:            flex;
top: -26px;
transform: rotate(45deg);
left:            -2px;
cursor: no-drop;
}

.variantBox.subTwo .variantList a p
{
text-align:            center;
height: 25px;
margin:            0;
padding: 0;
display:            flex;
align-items: center;
justify-content:            center;
font-size: 12px;
color:            #000;
background: #fff;
}

.variantBox.subTwo .variantList a.selected
{
border:            solid 1px #f36a25;
background: #f36a25;
}

.variantTop .Right
{
text-align:            right;
padding-right: 5px;
cursor:            pointer;
box-sizing: border-box;
color:            #f26b26;
text-decoration: underline;
font-weight:            400;
}
#productLeft a.callMe
{
height:            50px;
display: flex;
align-items:            center;
justify-content: flex-start;
padding:            0 25px;
text-decoration: underline;
font-size:            14px;
color: #5a5454;
box-sizing:            border-box;
margin-top: 25px;
background:            #fff;
border-radius: 4px;
border: solid .5px #ececec;
}
#productLeft a.callMe img
{
height:            30px;
margin-right: 20px;
}
span.discountPercent
{
background:            #f36a25;
height: 65px;
display:            flex;
flex-direction: column;
width:            65px;
align-items: center;
justify-content:            center;
margin-right: 15px;
border-radius:            4px;
color: #fff;
}
span.discountPercent>span
{
width: 100%;
display:            flex;
align-items: center;
justify-content:            center;
}
span.discountPercent .First
{
font-size:            20px;
margin-bottom: 3px;
font-weight:            600;
}
span.discountPercent .Second
{
font-weight:            300;
}
#mobileBuyBtn
{
display:            flex;
align-items: center;
justify-content:            space-between;
}

.productTags .Content ul.breadcrumb
{
display:            flex;
flex-direction: column;
width: 100%;
}

.productTags .Content ul.breadcrumb li a, .productTags .Content ul.breadcrumb li
{
width: 100%;
}

.productTags .Content ul.breadcrumb li span.text-custom-pink
{
display:            none;
}

.productTags ul.breadcrumb li:last-child a span
{
font-weight: 500 !important;
}
#productLeft>div:nth-child(2)>.Content>ul>li:nth-child(1)
{
display:            none;
}
a#addCartBtn
{
text-align:            center;
background-color: #f36a25
;font-size:            18px;
font-weight: 500
;color:            #fff;
height: 42px
;display:            flex;
align-items: center
;justify-content:            center;
width: 100%
;border-radius:            2px;
}
div#addCartBtn2
{
text-align:            center;
background-color: #bbb;
font-size:            18px;
font-weight: 500;
color:            #424242;
height: 42px;
display:            flex;
align-items: center;
justify-content:            center;
width: 100%;
border-radius:            2px;
}
span.tukendiGeridon
{
font-size:            13px;
}
#productLeft > span:nth-child(2) > img
{
height: 100%!important;
width: 100%!important;
}

.otherColors
{
padding:            10px;
box-sizing: border-box;
background:            #d2e6ff26;
border-radius: 4px 4px 0 0;
position:            relative;
margin-bottom: 10px;
}

.otherColors .Title
{
margin-top:            5px;
margin-bottom: 8px;
}

.otherColors .productItem .box-border
{
border:            none;
}

.productTags
{
margin-top:            15px;
padding: 15px;
box-sizing:            border-box;
background: #fff;
border-radius:            4px;
border: solid .5px #ececec;
}

.productTags .Title
{
margin-bottom:            10px;
text-transform: uppercase;
border-bottom:            solid 1px #f36a25;
padding: 5px 0;
color:            #f36a25;
font-weight: 600;
}

.productTags .Content
{
display:            flex;
flex-wrap: wrap;
}

.productTags .Content a
{
margin-right:            10px;
margin-bottom: 10px;
background:            #f8f8f8;
display: flex;
padding:            5px;
border-radius: 2px;
}
#productDetails h3
{
font-size:            14px;
font-weight: 500;
font-stretch:            normal;
font-style: normal;
line-height:            1;
letter-spacing: normal;
color:            #aaa;
padding: 10px;
display:            flex;
align-items: center;
border-bottom:            solid 1px #e6f1f1;
margin: 0;
box-sizing:            border-box;
position: relative;
cursor:            pointer;
padding-bottom: 5px;
padding-left:            0;
}
#productDetails .Content
{
padding:            10px 0px 10px 2px;
box-sizing: border-box;
overflow-y:            auto;
line-height: 1.7;
font-size:            14px;
margin-bottom: 20px;
}
#productDetails h3.ui-state-active::after
{
content: '\e80a';
font-size:            4px;
}
#productDetails>*
{
outline:            none;
}
#productDetails .Content li
{
list-style:            disc;
list-style-position: inside;
}
@media screen and (max-width: 1000px)
{
div#nav-wrapper
{
width: 100%;
}
}
@media screen and (min-width: 769px)
{
.otherColors>.fl
{
min-height:            125px;
}

.mobilePriceSection
{
display:            none;
}

.appendPrice
{
display:            none;
}

.otherColors .col-2
{
width: 10%;
}
}
@media screen and (max-width: 768px)
{
.fl.detayGercekFyt.simge5 .bugun
{
color:            #000;
}

.dty-beden
{
font-weight:   500;
font-size: 13px;
color:   #00A22D;
text-align: center;
margin-top:   8px;
}

.cloudzoom-zoom
{
display:none !important;
}

.mbl-left-kombin .detailPhotoSet::-webkit-scrollbar
{
height: 3px !important;
}

.mbl-right-kombin .variantWrapper
{
padding-left:   10px;
padding-top: 0px;
padding-bottom:   0px;
margin-bottom: 0;
display:   flex;
align-items: center;
justify-content:   center;
}

.mbl-right-kombin #price-flexer
{
justify-content: center !important;
}

.mbl-right-kombin #productName
{
text-align:   center;
}

.mbl-resim-yeni > li
{
width: 47% !important;
margin-right: 10px !important;
}

.appendPrice
{
width: 50%
;margin-right:            0;
font-size: 16px
;text-align:            center;
color: #fdffff
;font-weight:            600;
align-items: center
;justify-content:            space-around;
}

.appendPrice .detayGercekFyt > span
{
margin:            0;
font-weight: 500;color: #ffffff !important
;text-align :            center;
font-size: 14px;
}

.appendPrice .detayGercekFyt > span > span
{
margin:            0;
font-weight: 500;color: #ffffff !important
;text-align :            center;
font-size: 14px;
}

.appendPrice .detayGercekFyt.geceKusuDetay > span > span
{
margin:            0;
font-weight: 500;
color: #fff !important;
text-align :            center;
font-size: 14px;
}
a#addCartBtn
{
width: 50%;
}

.mobilePriceSection, .appendPrice
{
display:            flex;
}
ul#productImage .slick-arrow
{
opacity:            1;
}

.variantBox.subTwo .variantList
{
display:            flex;
}

.otherFlexList
{
flex-wrap:            nowrap;
padding: 0;
box-sizing:            border-box;
}

.otherColors .col-2
{
width: 34%;
flex: none !important;
display:            block;
padding: 0;
box-sizing:            border-box;
margin-right: 5px;
}

.mainProductSection>.row
{
flex-wrap:            wrap;
}

.thumbSection
{
display: none !important;
}
div#productLeft
{
padding:            0;
}
#productLeft a.callMe
{
display:            none;
}

.productTags
{
display:            none;
}
div#productInfo
{
width: 100%;
}
div#productRight
{
padding:            10px 10px 50px 10px;
}
ul.breadcrumb li:first-child
{
display:            none;
}
}
@media screen and (max-width: 540px)
{
.appendPrice .geceKusuDetay > span
{
color: #fff !important;
}

.otherColors > div > div > .row
{
overflow-y:            hidden;
overflow-x: scroll;
-webkit-overflow-scrolling:            touch;
margin: 0;
padding-bottom:            0px;
margin-bottom: 8px;
}

.otherColors > div > div > .row::-webkit-scrollbar
{
height:            3px;
}

.otherColors > div > div > .row::-webkit-scrollbar-track
{
background:            #eee;
}

.otherColors > div > div > .row::-webkit-scrollbar-thumb
{
background:            #bdd4f3;
border-radius: 0;
}

.otherColors::after
{
display:            none;
}

.otherColors .Title
{
padding:            5px 0px 0px 0px;
box-sizing: border-box;
}

.udSb
{
padding-bottom:            0px;
box-sizing: border-box;
padding-left:            10px;
padding-right: 10px;
}
#productLeft .mainImageSection
{
margin-top:            10px;
}

.appendPrice span.product-price-not-discounted
{
color:            #888;
font-weight: 400;
font-size:            13px;
}

.appendPrice .currencyPrice.discountPrice
{
color:            #888;
font-weight: 400;
font-size:            13px;
padding: 0;
}

.mainImageSection>.col
{
min-height:            600px;
height: auto;
}
div#productLeft .slick-slide img
{
border-bottom-left-radius:            0;
border-bottom-right-radius: 0;
}

.DetailBottom
{
padding:            0;
}

.otherColors
{
padding:            0;
padding-left: 10px;
}
#productDetails h3
{
padding:            5px 0;
}

.subTwo
{
padding-bottom:            0;
}
#price-flexer .discountedPrice
{
font-size:            16px;
}
#price-flexer .priceInner>.col
{
display:            flex;
align-items: center;
margin-top:            10px;
}

.mainProductSection
{
padding-top:            0;
list-style: none;
}
#productLeft .slickFlex
{
height:            auto;
margin-bottom: 10px;
border-radius:            4px;
overflow: hidden;
}
#mobileBuyBtn
{
position:            fixed;
bottom: 0;
left:            0;
z-index: 9999;
background:            #fff;
box-sizing: border-box;
padding:            5px;
box-sizing: border-box;
border-top:            1px solid #eee;
}
#mobileBuyBtn .buyBtn
{
padding-left:            10px;
}
}
@media screen and (max-width: 375px)
{
.mainImageSection>.col
{
min-height:            500px;
}
}
@media screen and (max-width: 360px)
{
.mainImageSection>.col
{
min-height:            400px;
}
#productLeft .slickFlex
{
}
#productName
{
color:            #000;
font-size: 18px;
font-weight:            400;
}
#price-flexer .discountedPrice
{
font-size:            18px;
}

.otherColors .col-2
{
width: 18%;
}

.variantBox.subTwo .variantList a
{
height:            40px;
width: 40px;
}

.variantBox.subTwo .variantList a p
{
height:            20px;
font-size: 10px;
}

.variantBox.subTwo .variantList a span
{
height:            20px;
}
#productDetails h3
{
font-size:            16px;
}

.EditorSection .EditorTitle
{
font-weight:            400;
}
#productDetails .Content
{
font-size:            12px;
}

.DetailBottom a
{
font-size:            12px;
}

.oldPriceSection
{
font-weight:            400;
font-size: 9px;
}
}