

<ng-template #form let-item="item">

  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="محتوای اصلی">
      <form nz-form [formGroup]="item">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Title">عنوان</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="عنوان را وارد کنید">
            <input nz-input formControlName="Title" />
          </nz-form-control>

          <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="email"> دسته بندی والد</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-tree-select [nzNodes]="categoryTree"
                            nzShowSearch
                            nzPlaceHolder="لطفا دسته بندی والد را انتخاب نمایید"
                            formControlName="CategoryId">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Summary">شرح خلاصه</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="شرح خلاصه را وارد کنید">
            <input nz-input formControlName="Summary" />
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Description">شرح </nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="شرح  را وارد کنید">
            <ckeditor [editor]="Editor" tagName="textarea" [config]="config" formControlName="Description"></ckeditor>
          </nz-form-control>
        </nz-form-item>
      </form>


    </nz-tab>

    <nz-tab nzTitle="انواع محصولات {{item.controls.ProductTypes.value.length}}">
      <nz-table>
        <thead>
          <tr>
            <th width="20%">عنوان</th>
            <th width="10%">رنگ</th>
            <th width="10%">سایز</th>
            <th width="15%">قیمت</th>
            <th width="10%">تخفیف</th>
            <th width="20%"> قیمت کل </th>
            <th width="10%">    تعداد موجودی  </th>
            <th width="10%">     تعداد فروش  </th>
            <th width="10%">        </th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropType($event, item)">
          <tr *ngFor="let t of item.controls.ProductTypes.value" cdkDrag>
            <td>       <input nz-input [(ngModel)]="t.Title" />     </td>
            <td>
              <nz-select [(ngModel)]="t.Color"
                         [nzCustomTemplate]="colorSelectedTemplate">
                <nz-option *ngFor="let c of dataManager.loadedData.Colors"
                           nzCustomContent
                           [nzValue]="c.Value"
                           [nzLabel]="c.Title">
                  <i [style.background-color]="c.Value" style="padding-left:23px;margin-left:5px"> </i>{{c.Title}}
                </nz-option>

                <ng-template #colorSelectedTemplate let-selected>
                  <i [style.background-color]="selected.nzValue" style="padding-left:23px;margin-left:5px">      </i>{{ selected.nzLabel }}

                </ng-template>
              </nz-select>

            </td>
            <td>
              <nz-select [(ngModel)]="t.Size">
                <nz-option *ngFor="let c of dataManager.loadedData.Sizes"
                           [nzValue]="c.Value"
                           [nzLabel]="c.Title + ' ' + c.Value"></nz-option>
              </nz-select>
            </td>
            <td>       <nz-input-number [(ngModel)]="t.Price" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>   </td>
            <td>       <nz-input-number [(ngModel)]="t.Off" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>   </td>
            <td>       <nz-input-number [(ngModel)]="t.TotalPriceAfterOff" [nzMin]="0" [nzMax]="1000000000" [nzStep]="1"></nz-input-number>   </td>
            <td>       <nz-input-number [(ngModel)]="t.Amount" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>   </td>
            <td>       <nz-input-number [(ngModel)]="t.Sells" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>   </td>
            <td>
              <button nz-button nz-col nzType="dashed" nzDanger (click)="delType(item,t)">حذف</button>
            </td>
          </tr>

        </tbody>
      </nz-table>

      <button nz-button nz-col [nzSm]="4" nzType="dashed" (click)="addType(item)">اضافه کردن</button>





    </nz-tab>
    <nz-tab nzTitle=" تصاویر  {{item.controls.ProductImages.value.length}}">
      <div nz-row cdkDropList (cdkDropListDropped)="dropImage($event, item)">
        <nz-card *ngFor="let pic of item.controls.ProductImages.value" nz-col [nzSm]="6" [nzXs]="24" cdkDrag>
          <img style="width:100%" [src]="'/front'+pic.Path" />
          <br />

          <input type="text" nz-input style="width:100%" placeholder="توضیحات" [(ngModel)]="pic.Description" />
        </nz-card>

      </div>
      <button nz-button nz-col [nzSm]="4" nzType="dashed" (click)="imageModal = true ">اضافه کردن</button>

    </nz-tab>
    <nz-tab nzTitle=" ویژگی ها  ">
    </nz-tab>
    <nz-tab nzTitle=" محصولات مشابه">
    </nz-tab>
    <nz-tab nzTitle=" کلمات کلیدی ">
    </nz-tab>

  </nz-tabset>


</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>





</ng-template>


<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title }}</td>
  <td>{{ item.Create_}}</td>
  <td>{{ item.Status }}</td>
</ng-template>



<app-template *ngIf="ok" [com]="this"></app-template>


<nz-modal [(nzVisible)]="imageModal" [nzFooter]="modalFooter" nzTitle="The first Modal" (nzOnCancel)="imageModal = false" (nzOnOk)="imageModal = false">
  <ng-container *nzModalContent>
    <app-image-uploader-card key="StoreDB/Product" Id="1" (onOk)="addImage($event)"></app-image-uploader-card>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="imageModal = false">انصراف </button>
  </ng-template>
</nz-modal>
