<div class="roundborderr shadow" style="margin-top: 10px">
  <div class="customCard">
    <div class="customerCardHeader ">
      <i nz-icon [innerHtml]="http.icons['basket-fill']" style=" color: #00B74A; "></i>
      <span>
        سبد خرید 
      </span>  
    </div>
  </div>
  <div class="customerCardBody">
    <app-product-card2 *ngFor="let item of [ ]"
                       [product]="{}"
                       nz-col
                       style="padding:5px"
                       [nzXs]="12"></app-product-card2> 
  </div>
</div>
