<div class="roundborderr shadow" style="margin-top: 10px">
  <div class="customCard">
    <div class="customerCardHeader ">
      <i nz-icon [innerHtml]="http.icons['basket-fill']" style=" color: #00B74A; "></i>
      <span>
        سبد خرید
      </span>
    </div>
  </div>
  <div class="customerCardBody" nz-row>
    <app-product-card4 *ngFor="let item of [{CategoryId:1, Color:'#gth45d',Title:'نام محصول',g:1},{CategoryId:1, Color:'#gth45d',Title:'asdadsasd',g:1} ]"
                       [product]="item"
                       nz-col
                       style="padding:5px"
                       [nzXs]="24"></app-product-card4>
  </div>
</div>
