<div class="roundborder">
  <nz-tree    [nzData]="http.data.categoriesTree" nzBlockNode [nzTreeTemplate]="nzTreeTemplate">
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <div [routerLink]="[http.buildCategoryUrl(origin.data.Id)]">
        <span class="custom-node" (click)="node.isExpanded = true" >
          <span>
            <i nz-icon [innerHtml]="origin.data.IconSanitizer" style="font-size:24px"></i>
            <span class="file-name">{{ node.title }}</span>
          </span>
        </span>
      </div>
    </ng-template>
  </nz-tree>
</div>
