<!--
[nzXs]
[nzSm]
[nzMd]
[nzLg]
[nzXl]
[nzXXl]
-->


<div *ngIf="!loading" nz-col style="text-align:center"
     [nzXs]="24"
     [nzSm]="24"
     [nzMd]="24"
     [nzLg]="{span: 20, offset:2}"
     [nzXl]="{span: 20, offset:2}"
     [nzXXl]="{span: 20, offset:2}">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item>
      jijikala
    </li>
    <li nz-menu-item nzSelected [routerLink]="['/home']">
      <i nz-icon [innerHtml]="http.icons.home"></i>
      صفحه اصلی
    </li>


    <li nz-menu-item [routerLink]="['/contact']">
      <i nz-icon [innerHtml]="http.icons['phone-in-talk-outline']"></i>
      تماس با ما
    </li>


    <li nz-menu-item style="float:left" nzSelected [routerLink]="['/profile']">
      <i nz-icon [innerHtml]="http.icons.profile"></i>
      اطلاعات کاربری
    </li>



    <li nz-menu-item style="float:left" nzSelected [routerLink]="['/basket']">
      <i nz-icon [innerHtml]="http.icons['basket-fill']" style="color:green;font-size:24px"></i>
      سبد خرید
    </li>

    <li nz-menu-item style="float:left">
      <input nz-input placeholder="جستجو" style="width:100%" />
    </li>
  </ul>

  <ul nz-menu nzMode="horizontal" class="megamenu">
    <li nz-menu-item>
      <i nz-icon [innerHtml]="http.icons.home"></i>
      دسته بندی های کالا:
    </li>
    <!--<ng-container  *ngFor="let item of http.data.categoriesTree">

      <ng-container *ngTemplateOutlet="mysubmenu;context:{item: item}"></ng-container>
    </ng-container>-->

    <ng-container *ngFor="let item of http.data.categoriesTree">
      <li nz-menu-item *ngIf="!item.children || item.children.length==0" [routerLink]="[http.buildCategoryUrl(item.data.Id)]">
        <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
        {{item.title}}
      </li>
      <!--nzPopoverTrigger="click"-->
      <li nz-menu-item *ngIf="item.children || item.children.length>0" nz-popover
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottom"
          [routerLink]="[http.buildCategoryUrl(item.data.Id)]">
        <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
        {{item.title}}
        <ng-template #contentTemplate>
          <div style="display:flex" class="submegamenu">
            <ul *ngFor="let item2 of item.children" nz-menu style="border:none;margin-right:5px">
              <li nzSelected nz-menu-item [routerLink]="[http.buildCategoryUrl(item2.data.Id)]">
                <i nz-icon [innerHtml]="item2.data.IconSanitizer" style="font-size:24px"></i>
                {{item2.title}}
              </li>
              <li *ngFor="let item3 of item2.children" nz-menu-item [routerLink]="[http.buildCategoryUrl(item3.data.Id)]">
                <i nz-icon [innerHtml]="item3.data.IconSanitizer" style="font-size:24px"></i>
                {{item3.title}}
              </li>

            </ul>
          </div>
        </ng-template>
      </li>

      <!--<li nz-submenu [nzTitle]="cm" *ngIf="item.children && item.children.length>0">
    <ng-template #cm>
      <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
      {{item.title}}
    </ng-template>
    <ul>
      <ng-container *ngFor="let item2 of item.children">

        <li *ngIf="!item2.children || item2.children.length==0" nz-menu-item [routerLink]="[http.buildCategoryUrl(item2.data.Id)]">

          <i nz-icon [innerHtml]="item2.data.IconSanitizer" style="font-size:24px"></i>
          {{item2.title}}
        </li>
        <li *ngIf="item2.children && item2.children.length>0" nz-submenu [nzTitle]="cm2">
          <ng-template #cm2>
            <i nz-icon [innerHtml]="item2.data.IconSanitizer" style="font-size:24px"></i>
            {{item2.title}}
          </ng-template>
          <ul>
            <li *ngFor="let item3 of item2.children" nz-menu-item>
              <i nz-icon [innerHtml]="item3.data.IconSanitizer" style="font-size:24px"></i>
              {{item3.title}}
            </li>
          </ul>
        </li>-->
      <!--<li nz-menu-item [routerLink]="[http.buildCategoryUrl(item.data.Id)]">
    <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
    همه ی
    {{item.title}}
  </li>-->
      <!--</ng-container>
    </ul>
    <ul>
      <li nz-menu-item style="float:right">sss</li>
    </ul>
  </li>-->
    </ng-container>



  </ul>

  <br />


  <router-outlet></router-outlet>
  <br />
  <div nz-row style="width: 100%; background-color: #1890ff;padding:15px">
    <div nz-col [nzXs]="12" [nzMd]="6">
      <h2>  پشتیبانی</h2>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
    </div>
    <div nz-col [nzXs]="12" [nzMd]="6">
      ">
      >ب
      <h2>">
      >بخش های سایت</h2>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
    </div>

    l

    <div nz-col [nzXs]="12" [nzMd]="6">
      <h2>خدمات مشتریان  </h2>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
    </div>
    <div nz-col [nzXs]="12" [nzMd]="6">
      <h2> شبکه های مجازی  </h2>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
      <h3>تامین کنندگان</h3>
    </div>
  </div>
</div>
<ng-template #mysubmenu let-item="item">

  <li nz-menu-item *ngIf="!item.children || item.children.length==0" [routerLink]="[http.buildCategoryUrl(item.data.Id)]">
    <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
    {{item.title}}
  </li>
  <li nz-submenu [nzTitle]="cm" *ngIf="item.children && item.children.length>0">
    <ng-template #cm>
      <i nz-icon [innerHtml]="item.data.IconSanitizer" style="font-size:24px"></i>
      {{item.title}}
    </ng-template>
  </li>
</ng-template>

<!--<br />
<div nz-row>
  <div nz-col [nzSm]="4">
    <app-category-tree></app-category-tree>
    <br />
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let index of [1,2,3,4]">
        <div class="roundborderr" style=" overflow: hidden;padding:0px;">
          <img [src]="'../../../assets/test'+index+'.jpg'" style="width:100%" />
        </div>
      </ng-template>
    </owl-carousel-o>
    <br />

    <div class="roundborderr">
      <div class="customCard">
        <div class="customerCardHeader">
          <i nz-icon [innerHtml]="icons.heart" style=" color: #FE251B;  "></i>
          <span>
            علاقه مندی های من
          </span>
        </div>
      </div>
      <div class="customerCardBody">
        <app-productcard *ngFor="let p of [1,2,3,4,5,6]" type="smallWithoutPrice">
        </app-productcard>
      </div>
    </div>
    <br />
    <div class="roundborderr">
      <div class="customCard">
        <div class="customerCardHeader">
          <i nz-icon [innerHtml]="icons['basket-fill']" style=" color: #FE251B;  "></i>
          <span>
            سبد خرید من
          </span>
        </div>
      </div>
      <div class="customerCardBody">
        <app-productcard *ngFor="let p of [1,2,3,4,5,6]" type="smallWithoutPrice">
        </app-productcard>
      </div>
    </div>

  </div>
</div>-->
<!--<ng-template #mysubmenu let-item="item">
  <li nz-menu-item *ngIf="!item.children || item.children.length==0">
    <i nz-icon [innerHtml]="http.icons.home"></i>
    {{item.title}}
  </li>

  <li nz-submenu [nzTitle]="cm" *ngIf="item.children && item.children.length>0">
    <ng-template #cm>
      <i nz-icon [innerHtml]="http.icons.home"></i>
      {{item.title}}123
    </ng-template>
    <ul>
      <li nz-menu-item *ngFor="let item2 of item.children">-->
<!--<ng-container *ngTemplateOutlet="mysubmenu;context:{item: item2}"></ng-container>-->
<!--<i nz-icon [innerHtml]="http.icons.home"></i>
        {{item2.title}}
      </li>
    </ul>
  </li>
</ng-template>-->
