<div nz-row>
  <div nz-col
       [nzXs]="24"
       [nzMd]="8">
    <div nz-row nzJustify="center">
      <app-category-card nz-col
                         [nzXs]="8"
                         [nzSm]="6"
                         [nzMd]="12"
                         [nzLg]="8"
                         *ngFor="let item of http.findCategoryInTree(this.category.Id).children" [data]="item.data"></app-category-card>

      <app-category-tree nz-col [nzXs]="24"></app-category-tree>

      <div class="roundborder" style="margin-top:10px"  nz-col [nzXs]="24">
        <nz-tree [nzExpandAll]="true"	[nzData]="category.TreeNodes" nzBlockNode [nzTreeTemplate]="nzTreeTemplate">
          <ng-template #nzTreeTemplate let-node let-origin="origin">
            <div >
              <span class="custom-node" >
                <span>
                  <span class="file-name">{{ origin.name }}</span>
                  <input />
                </span>
              </span>
            </div>
          </ng-template>
        </nz-tree>
      </div>





    </div>



  </div>
  <div nz-col
       [nzXs]="24"
       [nzMd]="16">


    <div class="roundborderr" style="margin-right: 5px; margin-left: 5px; ">
      <nz-radio-group [(ngModel)]="params.SortType" nzButtonStyle="solid">
        <label nz-radio-button nzValue="A">پرفروش ترین</label>
        <label nz-radio-button nzValue="B">جدید ترین</label>
        <label nz-radio-button nzValue="C"> پربازدید ترین</label>
        <label nz-radio-button nzValue="D">گرانترین</label>
        <label nz-radio-button nzValue="E">ارزانترین</label>
      </nz-radio-group>
      <div style="float:left">
        <i nz-icon style="font-size:24px" (click)="viewType = 1" [innerHtml]="http.icons['view-list']"></i>
        <i nz-icon style="font-size:24px" (click)="viewType = 2" [innerHtml]="http.icons['view-module']"></i>
      </div>




    </div>

    <div nz-row *ngIf="viewType == 1">
      <app-product-card1 *ngFor="let item of products"
                         [product]="item"
                         nz-col
                         style="padding:5px"
                         [nzXs]="8"
                         [nzSm]="8"
                         [nzMd]="8"
                         [nzLg]="6"></app-product-card1>
    </div>
    <div nz-row *ngIf="viewType == 2">
      <app-product-card2 *ngFor="let item of products"
                         [product]="item"
                         nz-col
                         style="padding:5px"
                         [nzXs]="8"
                         [nzSm]="8"
                         [nzMd]="8"
                         [nzLg]="6"></app-product-card2>
    </div>

  </div>
</div>
